In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame({'key1' : ['a','a','a','b','a'],
           'data1' : [1,2,2,3,3],
           'data2' : [1,10,2,3,30]})

In [23]:
df

  key1  data1  data2
0    a      1      1
1    a      2     10
2    a      2      2
3    b      3      3
4    a      3     30

**sql 문법**  

RN = ROW_NUMBER() OVER (PARTITION BY Key1 ORDER BY Data1 ASC, Data2 DESC)

In [24]:
df['RN'] = df.sort_values(['data1','data2'],ascending=[True,False]).groupby(['key1']).cumcount() +1

In [25]:
df

  key1  data1  data2  RN
0    a      1      1   1
1    a      2     10   2
2    a      2      2   3
3    b      3      3   1
4    a      3     30   4